* {
  font-family: "Poppins", sans-serif;
}

body {
  margin:0;
  padding:0;
  height:100vh;
  background-color: rgb(28, 102, 28);
}

#particles-js{
  height:100%;
  background:green;
}

h1 {
  margin: 50px auto;
  text-align: center;
  font-weight: bold;
  color: black;
  text-decoration: none;
  font-family: "Oooh Baby", cursive;
  font-size: 45px;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  height:130px;
}

h2 {
  text-align: center;
  color: #800080;
}

a.name {
  text-decoration: none;
  color: black;
}

a.name:hover {
  text-decoration: underline;
}

p {
  text-align: center;
  margin-left: 80px;
  margin-right: 80px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 780px;
  max-height: 500px;
  margin-top: 0px;
  margin-bottom: 50px;
}

img#mainImage {
  max-width: 550px;
}

.hidden {
  display: none;
}

.clickable {
  cursor: pointer;
  transition: 0.6s;
}

.clickable:hover {
  font-size: 60px;
}

.clicked {
  max-width: 624px;
  max-height: 400px;
}

.visible {
  display: block;
}

#firstPhoto {
  transition: 0.6s;
  -webkit-box-shadow: 10px 10px 25px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 25px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 25px 0px rgba(0, 0, 0, 0.75);
}

footer{
  padding-bottom:100px;
}

@media only screen and (min-width: 415px) {
  h1{
    font-size:85px;
  }

  h2{
    font-size:50px;
  }

  p{
    font-size: 40px;
  }
}
